* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Roboto", sans-serif;
}

/*-----HEADER-----*/

.header{
    padding: 15px 200px 50px 200px;
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
}


.logo {
    margin-bottom: 68px;
    font-size: 24px;
}

.title-info {
    width: 500px;
}

.title-info h1 {
    font-size: 48px;
}

.title-info button {
    background-color: #3882F6;
    padding: 5px 15px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #F9FAF8;
    border: none;
    border-radius: 4px;
}

.nav-bar {
    list-style-type: none;
    margin-bottom: 75px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.img-box {
    background-color: gray;
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-----INFORMATION-----*/

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

.information h2 {
    font-size: 36px;
    color: #1F2937;
    margin: 30px 0px;
}

.info-box {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.info-pics {
    width: 150px;
}

.box {
    border-style: solid;
    border-color: #3882F6;
    border-radius: 8px;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.info-box {
    text-align: center;
}

/*-----TESTIMONIAL-----*/

.testimonial {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 75px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
    margin-top: 50px;
    align-self: center;
}

.quote-source {
   color: #1F2937;
   font-weight: bold;
   align-self: flex-end;
}


/*
.img-box {
    background-color: gray;
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap
}*/